html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
  background-color: #eeeeee;
}

body {
  margin: 1rem;
  padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.change-color{
  cursor: pointer;
  font-size: 50px;
}

.form-body{
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
    border-radius: 8px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    width: auto;
    align-self: center;
}

.form-body form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.form-body form > div{
  display: flex;
  flex-direction: column;
}

.form-body form input,
.form-body form label{
    cursor: pointer;
}

.form-input{
    width: 100%;
}

.submit-button{
  width: 100%;
  height: 40px;
  background-color: #53be58;
  transition: 100ms;
  border: 0;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.checkbox-row{
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 4px;
}

.form-input{
  height: 30px;
  border-radius: 0;
  border: 1px solid black;
}

.submit-button:hover{
  background-color: #45a049;
}

.motyw:checked ~ .form-body{
  background-color: rgb(24, 23, 23);
  color: white;
}

.motyw:checked ~  .form-body .form-input{
  background-color: rgb(44, 44, 44);
  color: white;
  box-shadow: inset 4px 4px 4px -2px rgba(66, 68, 90, 1);
  border: 0;
}