*{
    font-family: montserrat;
    color: var(--text-color);
}

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root{
    --text-color: #050315;
    --text-secondary: #fbfbfe;
    --background: #fbfbfe;
    --primary: #2f27ce;
    --secondary: #a29df6;
}

body{
    margin: 0;
    background-color: var(--background);
}

main{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.btn-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

.btn-container button{
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    background-color: var(--primary);
    border: 0;
    color: var(--text-secondary);
    border-radius: 4px;
    transition: 200ms;
}

.btn-container button:hover{
    background-color: var(--secondary);
    transform: scale(1.05);
    transition: 200ms;
}

.shapes-container{
    min-height: 10vh;
    width: 50%;
    border: 2px dashed var(--secondary);
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 5px;
}


.shape{
    height: 100px;
    width: 100px;
    border: 3px solid var(--text-color);
    cursor: pointer;
    transition: 200ms;
}

.shape:hover{
    transform: scale(1.05);
    transition: 100ms;
}

.circle-element{
    border-radius: 50%;
}