*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

:root{
    --blue-color: blue;
    --red-color: red;
    --green-color: green;
    --yellow-color: yellow;
}

body {
    background: #fafafa;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-card{
    width: 100%;
    background: #eee;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 18px 18px 32px -5px rgba(66, 68, 90, 1);
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.container > input[type="radio"]{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.img-container{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 500px;
    max-width: 500px;
    aspect-ratio: 1 / 1; 
    border-radius: 8px;
    background: #fff;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.img-container .polo-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity .25s ease;
}

#blue:checked ~ .img-container .polo-blue{ opacity:1; }
#red:checked ~ .img-container .polo-red{ opacity:1; }
#green:checked ~ .img-container .polo-green{ opacity:1; }
#yellow:checked ~ .img-container .polo-yellow{ opacity:1; }

#blue:checked ~ .img-container{ border-color: var(--blue-color); }
#red:checked ~ .img-container{ border-color: var(--red-color); }
#green:checked ~ .img-container{ border-color: var(--green-color); }
#yellow:checked ~ .img-container{ border-color: var(--yellow-color); }

.text-container{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container{
    display: flex;
    gap: 8px;
}

.color-switch{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    position: relative;
    transition: 0.3s;
}

.color-switch:hover{
    transform: scale(0.85);
}

.color-switch::before,
.color-switch::after {
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
}

.color-switch::after {
    inset: -6px;
}

.color-switch.blue{ background: var(--blue-color); }
.color-switch.red{ background: var(--red-color); }
.color-switch.green{ background: var(--green-color); }
.color-switch.yellow{ background: var(--yellow-color); }

#blue:checked ~ .text-container .color-switch.blue,
#red:checked ~ .text-container .color-switch.red,
#green:checked ~ .text-container .color-switch.green,
#yellow:checked ~ .text-container .color-switch.yellow {
    transform: scale(0.85);
}

#blue:checked ~ .text-container .color-switch.blue::before,
#red:checked ~ .text-container .color-switch.red::before,
#green:checked ~ .text-container .color-switch.green::before,
#yellow:checked ~ .text-container .color-switch.yellow::before{
    opacity: 1;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.05);
}

#blue:checked ~ .text-container .color-switch.blue::after,
#red:checked ~ .text-container .color-switch.red::after,
#green:checked ~ .text-container .color-switch.green::after,
#yellow:checked ~ .text-container .color-switch.yellow::after{
    opacity: 1;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.2);
}

.size-container{
    display: flex;
    gap: 8px;
}

.size-container input{
    opacity: 0;
    position: absolute;
}

.size-container label{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 4px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: .3s;
}

.size-container label:hover{
    transform: scale(1.1);
}

.size-container input:checked + label{
    transform: scale(1.1);
    color: white;
}

#blue:checked ~ .text-container .size-container input:checked + label{
    background: var(--blue-color);
}
#red:checked ~ .text-container .size-container input:checked + label{
    background: var(--red-color);
}
#green:checked ~ .text-container .size-container input:checked + label{
    background: var(--green-color);
}
#yellow:checked ~ .text-container .size-container input:checked + label{
    background: var(--yellow-color);
    color: black;
}

.text-container button{
    padding: 12px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: .3s;
    width: 20vh;
}

.text-container button:hover{
    transform: scale(1.05);
}

#blue:checked ~ .text-container button{ background: var(--blue-color); }
#red:checked ~ .text-container button{ background: var(--red-color); }
#green:checked ~ .text-container button{ background: var(--green-color); }
#yellow:checked ~ .text-container button{ background: var(--yellow-color); color:black; }