*{
    font-family: Montserrat;
    font-size: 1rem;
}

body{
    margin: auto;
}

header{
    margin: 0;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #545ee3;
}

header h1{
    margin-top: 0;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 500;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
    max-width: 100%;
    gap: 20px;
    background-color: #f3f2f2;
}

main > figure{
    max-width: 60%;
    margin: 10px auto;
    background-color: #fff;
    color: black;
    border-radius: 8px;
    padding-bottom: 20px;
    text-align: center;
    -webkit-box-shadow: 3px 5px 12px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 5px 12px -6px rgba(66, 68, 90, 1);
    box-shadow: 3px 5px 12px -6px rgba(66, 68, 90, 1);
    transition: 500ms;
}

main > figure:hover{
    background-color: #545ee3;
    color: white;
    -webkit-box-shadow: 3px 5px 12px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 5px 12px -1px rgba(66, 68, 90, 1);
    box-shadow: 3px 5px 12px -1px rgba(66, 68, 90, 1);
    transition: 500ms;
    transform: scale(1.05);
}

main > figure figcaption{
    cursor: default;
}

main img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

@media(min-width: 1200px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
    }
}