/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: Montserrat;
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 0;
}

nav{
  padding-bottom: 20px;
  background-color: #0077B6;
  text-align: center;
  align-items: center;
}

nav > h1{
  margin: 0;
  padding-top: 10px;
}
nav > a{
  padding: 10px;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #212529; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

button{
  border-radius: 8px;
  border: 0;
  padding: 5px 10px 5px 10px;
  background-color: #2598d6;
  transition: 500ms;
}

button:hover{
  background-color: #0077B6;
  transition: 500ms;
}

button a:hover{
    text-decoration: none;
}