/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: Montserrat; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 0;
  text-align: center;
}


nav{
  padding-bottom: 20px;
  background-color: #0077B6;
  text-align: center;
  align-items: center;
}

nav > h1{
  margin: 0;
  padding-top: 10px;
}
nav > a{
  padding: 10px;
}

a {
  color: #212529; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}